.container{
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./../../Images/6685.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.container a{
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
}

.container a::before{
    content: "↩";
    font-size: 30px;
    margin-right: 10px;
}

.container>div:first-child{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container>div>button{
    margin: 0 50px;
    font-size: 22px;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4A90E2;
    color: #fff;
}

.tab, .tabz, .taby{
    width: 85vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.tabz{
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;
}

.taby{
    margin-top: 10px;
}

.message{
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 50px;
    background-color: blue;
    width: 350px;
    color: #fff;
    font-size: 18px;
}

.message>span:last-child{
    position: absolute;
    top: 25px;
    right: 35px;
    font-size: 22px;
}

.message>span:first-child{
    width: 220px;
    display: inline-block;
}

.error{
    background-color: red;
}

.pass{
    background-color: green;
}


@media screen and (max-width:1000px) {
    .container{
        background-image: url(./../../Images/1366919.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    .container>div:first-of-type{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-block-end: 0;
    }

    .container>div>button{
        margin-block: 7px;
        font-size: 18px;
        padding: 5px 0;
    }

    .tab{
        width: 90vw;
    }

    .message{
        font-size: 15px;
        padding: 15px 10px;
        max-width: 200px;
        height: auto;
    }

    .message>span:last-child{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 17px;
    }
    
    .message>span:first-child{
        width: 165px;
        display: inline-block;
    }
}
