.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container>div:first-child {
    width: 18%;
}

.container>div:nth-child(2) {
    width: 35%;
}

.container>div:last-child {
    width: 45%;
}

.buttonContainer>div {
    border-radius: 5px;
    background-color: #F5A623;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.877);
}

.buttonContainer>div:first-child {
    margin-bottom: 50px;
}

.form {
    width: 100%;
    background-color: rgba(242, 242, 163, 0.826);
    padding: 15px;
    border-radius: 7px;
}

.form>input {
    width: 10rem;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgba(244, 244, 244, 0.825);
}

.form>input:focus {
    outline: none;
}

.form>button {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #F5A623;
    color: #fff;
    font-size: 17px;
    margin-top: 75px;
    margin-right: 100px;
    float: right;
    cursor: pointer;
}

.card {
    width: 100%;
    height: 300px;
    margin-right: 0rem;
    padding: 1rem 5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgb(229, 90, 90);
    color: #000;
}

.card>div {
    font-size: 20px;
    margin-top: 20px;
}

.card>div>span:first-child {
    font-weight: 900;
    display: inline-block;
    min-width: 170px;
    text-align: right;
}

.card>div>span:last-child {
    margin-left: 20px;
}

select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 12.5rem;
    margin-left: 15px;
}

select:focus {
    outline: none;
}

option {
    font-size: 15px;
    border-radius: 5px;
}

.tokenButton {
    margin-top: 25px;
    margin-inline: 20px;
    background-color: #F39C12;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:1000px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container>div:first-child {
        width: 100%;
        margin-bottom: 25px;
    }
    .container>div:nth-child(2) {
        width: 100%;
    }

    .container>div:nth-child(2) {
        width: 100%;
    }
    
    .container>div:last-child {
        width: 100%;
    }
    select{
        width: 19.4rem;
    }
    
    .form select {
        width: 18rem;
    }

    .buttonContainer {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .buttonContainer>div {
        padding: 5px 10px;
        font-size: 13px;
        min-width: 6rem;
    }

    .buttonContainer>div:first-child {
        margin-bottom: 0px;
    }

    .form {
        width: 100%;
        font-size: 15px;
    }

    .form>label{
        display: inline-block;
        width: auto;
    }
    
    .form>input {
        display: inline-block;
        width: 110px;
        margin-left: 10px;
    }
    
    .form>input:focus {
        outline: none;
    }
    
    .form>button {
        padding: 10px 25px;
        font-size: 14px;
        margin-top: 25px;
    }
    

    .card {
        width: 100%;
        height: auto;
        margin-right: 0rem;
        margin-top: 20px;
        padding: 1rem 1.5rem;
        margin-bottom: 3rem;
    }

    .card>div {  
        margin-top: 0px;
        margin-bottom: 20px;
        color: #F5A623;
    }
    
    .card>div>span:first-child {
        font-weight: 600;
        font-size: 17px;
        display: inline-block;
        min-width: 0px;
        width: 140px;
        text-align: right;
    }
    
    .card>div>span:last-child {
        font-size: 19px;
        margin-left: 20px;
    }

    .ll{
        color: rgb(36, 229, 23);
        font-weight: 500;
        margin-top: 10px;
    }

    .tokenButton {
        margin-top: 15px;
        margin-inline: 10px;
        padding: 5px 15px;
    }
}